


<h3 class="text-md-center"> Customer Not Found! </h3>
<input onclick="location.href='@Url.Action("Create", "Customer")'" type="button" value="Sign up?" class="btn btn-primary" />
<input onclick="location.href='@Url.Action("Index", "Customer")'" type="button" value="Try again" class="btn btn-primary" />